* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'poppins reqular',sans-serif;
  color: #000;
}
ol,ul {
  list-style: none;
}
h1,h2,h3 {
  font-family: 'poppins bold';
}
p {
  font-size: 18px;
}

@font-face {
  font-family: 'poppins bold',sans-serif;
  src: url('./assets/fonts/poppins-bold-webfont.woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'poppins regular',sans-serif;
  src: url('./assets/fonts/poppins-regular-webfont.woff2');
}